# Ambiente virtual
venv/
*.pyc
*.pyo
__pycache__/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações de IDEs/editores de texto
.vscode/
.idea/

# Arquivos de migração gerados pelo Flask-Migrate
migrations/

# Configurações específicas do MySQL ou backups de banco
*.sql
*.db

# Logs e arquivos temporários
*.log
*.tmp
*.swp

# Credenciais e variáveis de ambiente
.env
